
html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100%;
}

main {
    background-color: gray;

}

.maincontainer {
   width: auto;
}

.mainpicture {
width: 100%;

}

.mainpicture img {
    width: 100%;
    display: block;

}


/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0; /* tämä sai navin pysymään näkymättömänä sivulle tultaessa*/
    overflow-x: hidden;
    z-index: 1;
    position: fixed;
    background-color: black;
    padding-top: 50px;
    text-align: center;

}

.sidenav a {
    color:rgb(120, 123, 129);
    display: block;

    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
}


.sidenav .closebutton {
position: absolute;
top: 0rem;
right: 0rem;
padding-top: 0rem;
font-size: 2rem;

}

.menu {
    font-size: 1.5rem;
    
}


/*Services box*/
.servicesbox {
    display: none;
    position: absolute;
    background-color: rgba(20, 5, 5, 0.5);
    top: 20%;
    margin: 9% 25%;
    height: 450px;
    width: 60%;
    z-index: 2;
    border: 0.5rem black;
    border-radius: 0.8rem;
    box-shadow: 0.2rem 0.2rem rgb(0, 0, 0, 0.8);


}

.servicesbox h3 {
    color:rgb(202, 202, 202) ;
    font-size: 2rem;

    margin: auto;
}

.closebutton2 {
    color:rgb(44, 42, 42);
    font-size: 2rem;
    margin: 0.4rem;
    


}